body{
    background-color: $main_bg;
}
.hero_row{
    position:relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: 100vh;
    @media only screen and (max-width: 40em) {
      height: calc(50vh);
    }
}
.hero{
    background-image: url(images/rows_bw.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #000;
    text-align: center;
    height: 100vh;
    @media only screen and (max-width: 40em) {
      height: calc(50vh);
    }
}
.grittyrule{
    height: 11px;
    width: 100%;
    background-image: url('images/grittyrule.png');
    background-size: 100% 11px;
    background-position: 50%;
    margin-top: -6px;
    z-index: 20;
    position: absolute;
    background-repeat: no-repeat;
}
.mosaic_text{
    padding:3.5em;
    background-color: $dk_gray;
} 

.mosaic_block{
    font-family: $primayBodyFont;
    color: $bodyFontColor_lt;
    line-height: 2.0em;
    font-weight:400;
    width:100%;
    @include clearfix;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    h2{
        font-family: $primayHeaderFont;
        font-size: 2.0em;
        line-height: 2.0em;
    }
    .farming_img{
        background-image: url(images/tractor.jpg);
        position: relative;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .sustainability_img{
        background-image: url(images/bud-break_vclose.jpg);
        position: relative;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .development_img{
        background-image: url(images/flowering-from-hill.jpg);
        position: relative;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .about_img{
        background-image: url(images/mt_hood_at_sunset.jpg);
        position: relative;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}
#contact_us{
    a{
        color:#a4cd39;
        &:hover{
            color: $lt_gray;
        }
    }
}


@media screen and (min-width: 940px){
  .mosaic_block {
   -webkit-flex-direction: row;
    flex-direction: row;
  }
  .mosaic_block > * {
    -webkit-flex: 1;
    flex: 1;
  }
  div.text_block{
    background-color: #bababa;
  }
  div.img_block{
    background-color: #ffba00;
  }
  .mosaic_block > div {
    
    -webkit-flex: 2;
    flex: 2;
  }
}

@media screen and (max-width: 940px){
  .mosaic_block {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
    div.text_block{
    background-color: #bababa;
  }
  div.img_block{
    background-color: #ffba00;
    min-height: 6.0em
  }
}


