//Custom Fonts
// $primayHeaderFont: 'Raleway', sans-serif;
// $primayBodyFont: 'Roboto', sans-serif;
$primayNavFont: 'Raleway', sans-serif;

//Custom Breakpoints
$dropscreen: new-breakpoint(max-width 1600px);

//Colors
$main_bg: #000000;
$dk_gray: #404040;
$lt_gray: #B8B8B8;
$blackish: #0a0a0a;
$primaryBlue : rgb(62, 127, 171);
$blackTrans : rgba(0, 0, 0, 0.5);
$whiteTrans : rgba(255, 255, 255, 0.5);